# macOS files ----
.DS_Store

# History files ----
.Rhistory
.Rapp.history

# Session Data files ----
.RData
.Ruserdata

# RStudio files ----
*.Rproj
.Rproj.user/
  
  # R Environment Variables ----
.Renviron

# User-specific files ----
README.html
inst/doc

# Images ----
*.csv
*.pdf
*.jpg
*.png
*.tiff

# Folder  ----
poly-model-data-course/_bookdown_files/_main_files/figure-html/**
poly-model-data-course/_bookdown_files/_main_files/figure-latex/**
poly-model-data-course/_book/_main_files/figure-html/**
poly-model-data-course/_book/_main_files/fig06Networks/**


